[user]
    name = SSMassociados
    email = ssmassociados@hotmail.com

[color]
    ui = true

[core]
	editor = nvim

[merge]
	tool = nvimdiff
    
[diff]
	tool = nvimdiff

[safe]
    directory = /home/sidiclei/.cache/yay/auto-cpufreq/src/opt/auto-cpufreq/

[alias]
    st = status
    co = checkout
    ci = commit
    br = branch
    lg = log --oneline --graph --decorate --all
    amend = commit --amend --no-edit
    
[init]
    defaultBranch = main

[pull]
    rebase = false

[push]
    default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
