[SddmGreeterTheme]
Name=Fantasma
Description=Fantasma
Author=ju1464
Copyright=(c) 2019, ju1464
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://www.opencode.net/ju1464/Fantasma_Theme
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=
Theme-Id=Fantasma
Theme-API=2.0
